# Visual Studio intermediate files
.vs

# Visual Studio Code user settings
.vscode

# Artifacts and intermediate files
build
temp

# Visual Studio user project settings
*.vcxproj.user

# Vcpkg installed packages
other_includes
vcpkg_installed/*